.root {
    -fx-background-color: linear-gradient(to bottom, #e0f7fa, #80deea);
}

.text-field {
    -fx-font-size: 14px;
    -fx-background-radius: 5;
    -fx-border-color: #00acc1;
    -fx-border-radius: 5;
}

.button {
    -fx-background-color: #00acc1;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-background-radius: 5;
}

.label {
    -fx-font-size: 16px;
    -fx-text-fill: #006064;
}
